.form-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 50%;
	margin: 0 auto;
}

form {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(3, auto);
	gap: 10px;
	padding: 20px;
	width: 50%;
	margin: 0 auto;
	background-color: rgb(106, 183, 59);
}
label,
input[type='text'],
input[type='number'],
input[type='submit'] {
	width: 100px;
	margin: 0 auto;
}

input[type='submit'] {
	grid-column: 1 / -1;
}
